#animation-main {
    position: relative;
    width: 500px;
    height: 500px;
}

.layer {
    --width: 50%;

    touch-action: manipulation;
    position: absolute;
    object-fit: scale-down;
    width: var(--width);
    left: calc(50% - var(--width) / 2);
    top: calc(var(--top) - var(--width ) / 2);

    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-name: float;
    animation-iteration-count: infinite;
}

.layer#top {
    z-index: 2;
    --top: 25%;
    --rise: 5px;
}

.layer#middle {
    z-index: 1;
    --top: 50%;
    --rise: 10px;
}

.layer#bottom {
    z-index: 0;
    --top: 75%;
    --rise: 15px;
}

.slider {
    --distance-apart: 25px;
    --width: 150px;
    --right: -50px;

    height: 0;
    bottom: calc(var(--width) / 2);
    width: var(--width);
    transform: rotate(270deg);
    position: absolute;
}

.slider#top_slider {
    right: calc(var(--right) + (var(--distance-apart) * 2));
}

.slider#middle_slider {
    right: calc(var(--right) + var(--distance-apart));
}

.slider#bottom_slider {
    right: var(--right);
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

input[type=range]#top_slider::-webkit-slider-thumb {
    background: rgb(238,238,209);
}

input[type=range]#top_slider::-moz-range-thumb {
    background: rgb(238,238,209);
}

input[type=range]#middle_slider::-webkit-slider-thumb {
    background: rgb(65,67,82);
}

input[type=range]#middle_slider::-moz-range-thumb  {
    background: rgb(65,67,82);
}

input[type=range]#bottom_slider::-webkit-slider-thumb {
    background: rgb(88,121,73);
}

input[type=range]#bottom_slider::-moz-range-thumb {
    background: rgb(88,121,73);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: rgb(144,144,144);
    border-radius: 1.3px;
    border: none;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: rgb(144,144,144);
    border-radius: 1.3px;
    border: none;
}

@keyframes float {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, var(--rise));
    }

    100% {
        transform: translate(0, 0px);
    }
}