.main {
    position: relative;
    width: 500px;
    height: 500px;
}

.layer {
    --width: 75%;

    position: absolute;
    object-fit: scale-down;
    width:  var(--width);
    height: var(--width);
    left: calc(50% - var(--width) / 2);
    top: calc(var(--top) - var(--width ) / 2);

    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-name: float;
    animation-iteration-count: infinite;
}

.layer#top {
    z-index: 2;
    --top: 25%;
    --rise: 5px;
}

.layer#middle {
    z-index: 1;
    --top: 50%;
    --rise: 10px;
}

.layer#bottom {
    z-index: 0;
    --top: 75%;
    --rise: 15px;
}

/**
 * REMOVE FOR FINAL PRODUCT
 */

.layer.ball {
    --width: 50px;
    border-radius: 50%;

    box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

.layer.ball#top {
    background: red;
}

.layer.ball#middle {
    background: green;
}

.layer.ball#bottom {
    background: blue;
}

/**
 * END REMOVE
 */

@keyframes float {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, var(--rise));
    }

    100% {
        transform: translate(0, 0px);
    }
}