#animation-main {
    position: relative;
    width: 500px;
    height: 500px;
}

.layer {
    --width: 50%;

    touch-action: manipulation;
    position: absolute;
    object-fit: scale-down;
    width:  var(--width);
    left: calc(50% - var(--width) / 2);
    top: calc(var(--top) - var(--width ) / 2);

    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-name: float;
    animation-iteration-count: infinite;
}

.layer#top {
    z-index: 2;
    --top: 25%;
    --rise: 5px;
}

.layer#middle {
    z-index: 1;
    --top: 50%;
    --rise: 10px;
}

.layer#bottom {
    z-index: 0;
    --top: 75%;
    --rise: 15px;
}

.slider {
    --distance-apart: 25px;
    --width: 150px;
    --right: -50px;

    height: 0;
    bottom: calc(var(--width) / 2);
    width: var(--width);
    transform: rotate(270deg);
    position: absolute;
}

.slider#top_slider {
    right: calc(var(--right) + (var(--distance-apart) * 2));
}

.slider#middle_slider {
    right: calc(var(--right) + var(--distance-apart));
}

.slider#bottom_slider {
    right: var(--right);
}

/*
    This slider CSS is straight from CSS Tricks
    modified for a more subtle appearance

    Currently probably only works in Chrome
*/

/* HIDE */

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* THUMB */

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

input[type=range]#top_slider::-webkit-slider-thumb {
    background: rgb(238,238,209);
}

input[type=range]#top_slider::-moz-range-thumb {
    background: rgb(238,238,209);
}

input[type=range]#middle_slider::-webkit-slider-thumb {
    background: rgb(65,67,82);
}

input[type=range]#middle_slider::-moz-range-thumb  {
    background: rgb(65,67,82);
}

input[type=range]#bottom_slider::-webkit-slider-thumb {
    background: rgb(88,121,73);
}

input[type=range]#bottom_slider::-moz-range-thumb {
    background: rgb(88,121,73);
}

/* All the same stuff for Firefox */
/* {*/
/*    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
/*    border: 1px solid #000000;*/
/*    height: 36px;*/
/*    width: 16px;*/
/*    border-radius: 3px;*/
/*    background: #ffffff;*/
/*    cursor: pointer;*/
/*}*/

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* TRACK */

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: rgb(144,144,144);
    border-radius: 1.3px;
    border: none;
}


input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: rgb(144,144,144);
    border-radius: 1.3px;
    border: none;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

@keyframes float {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, var(--rise));
    }

    100% {
        transform: translate(0, 0px);
    }
}